@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
}

.homebanner {
  position: relative;
  top: 100px;
  width: 100%;
  height: calc(100vh - 100px);
}

.homebanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .homebanner {
    top: 80px;
    height: calc(100vh - 80px);
  }
}